.description-container{
    height: 60vh;
    background: url('../../assets/backgrounds/project-background.png') center/cover no-repeat;
    position: relative;
}

.description-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.projects-title{
    text-align: center;
    color: #f39c12;
    margin: 4rem 0 2rem;
    font-size: 2.5rem;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.tabs button {
  border: none;
  background: transparent;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-weight: 500;
}

.tabs button.active {
  background: #f39c12;
  color: white;
  border-radius: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem 5%;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1rem;
}